<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A_gr</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.Colons_gr</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.D_O_Q</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>Schwa</string>
  </array>
  <key>public.kern1.E_gr</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Etilde</string>
  </array>
  <key>public.kern1.K_gr</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>kgreenlandic</string>
  </array>
  <key>public.kern1.L_gr</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.Periods_gr</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.R_gr</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.S_gr</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern1.T_gr</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.U_gr</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.W_gr</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y_gr</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1.Z_gr</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.guilLEFT_gr</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.guilRIGHT_gr</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.hyphen_gr</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1.quoteLEFT_up</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteRIGHT_up</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.quote_straight_gr</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.AE_gr</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
  </array>
  <key>public.kern2.A_gr</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.Colons_gr</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.O_C_G_Q</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcaron</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.Periods_gr</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.S_gr</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.T_gr</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.U_gr</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2.W_gr</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y_gr</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2.Z_gr</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.guilLEFT_gr</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.guilRIGHT_gr</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.hyphen_gr</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2.quoteLEFT_up</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteRIGHT_up</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.quote_straight_gr</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
</dict>
</plist>
