<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>uni00A0</string>
    <string>softhyphen</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>ellipsis</string>
    <string>periodcentered</string>
    <string>question</string>
    <string>questiondown</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>underscore</string>
    <string>quotesinglbase</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>minute</string>
    <string>second</string>
    <string>degree</string>
    <string>asterisk</string>
    <string>slash</string>
    <string>backslash</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>ampersand</string>
    <string>at</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Acaron</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Aogonek</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Ccedilla</string>
    <string>Dcaron</string>
    <string>Eth</string>
    <string>Dcroat</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Ebreve</string>
    <string>Emacron</string>
    <string>Etilde</string>
    <string>Edotaccent</string>
    <string>Edieresis</string>
    <string>Eogonek</string>
    <string>Gcaron</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Ibreve</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>i</string>
    <string>Idotaccent</string>
    <string>Idieresis</string>
    <string>Iogonek</string>
    <string>IJ</string>
    <string>IJ_acute</string>
    <string>Jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
    <string>Eng</string>
    <string>Nhookleft</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ohungarumlaut</string>
    <string>Ocircumflex</string>
    <string>Ocaron</string>
    <string>Obreve</string>
    <string>Omacron</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Germandbls</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tbar</string>
    <string>Thorn</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Uhungarumlaut</string>
    <string>Ucircumflex</string>
    <string>Ubreve</string>
    <string>Umacron</string>
    <string>Utilde</string>
    <string>Udieresis</string>
    <string>Uring</string>
    <string>Uogonek</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Schwa</string>
    <string>grave</string>
    <string>acute</string>
    <string>hungarumlaut</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>caron.salt</string>
    <string>breve</string>
    <string>macron</string>
    <string>tilde</string>
    <string>dotaccent</string>
    <string>dotaccent.salt</string>
    <string>dieresis</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>ogonek</string>
    <string>commaaccentcomb</string>
    <string>section</string>
    <string>numbersign</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>trademark</string>
    <string>registered</string>
    <string>copyright</string>
    <string>soundcopyright</string>
    <string>litre</string>
    <string>estimated</string>
    <string>partialdiff</string>
    <string>Omega</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>pi</string>
    <string>mu</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>minus</string>
    <string>divide</string>
    <string>multiply</string>
    <string>equal</string>
    <string>notequal</string>
    <string>approxequal</string>
    <string>less</string>
    <string>lessequal</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>bulletoperator</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>integral</string>
    <string>infinity</string>
    <string>lozenge</string>
    <string>Euro</string>
    <string>dollar</string>
    <string>cent</string>
    <string>yen</string>
    <string>sterling</string>
    <string>turkishlira</string>
    <string>florin</string>
    <string>currency</string>
    <string>Euro.tnum</string>
    <string>dollar.tnum</string>
    <string>cent.tnum</string>
    <string>yen.tnum</string>
    <string>sterling.tnum</string>
    <string>turkishlira.tnum</string>
    <string>florin.tnum</string>
    <string>numbersign.tnum</string>
    <string>zero.tnum</string>
    <string>one.tnum</string>
    <string>two.tnum</string>
    <string>three.tnum</string>
    <string>four.tnum</string>
    <string>five.tnum</string>
    <string>six.tnum</string>
    <string>seven.tnum</string>
    <string>eight.tnum</string>
    <string>nine.tnum</string>
    <string>zero.superior</string>
    <string>one.superior</string>
    <string>two.superior</string>
    <string>three.superior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>fraction</string>
    <string>divisionslash</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrowNW</string>
    <string>arrowNE</string>
    <string>arrowSE</string>
    <string>arrowSW</string>
  </array>
</dict>
</plist>
