<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>asterisk</key>
    <integer>-30</integer>
    <key>eight.superior</key>
    <integer>-18</integer>
    <key>five.superior</key>
    <integer>-10</integer>
    <key>four.superior</key>
    <integer>-20</integer>
    <key>nine.superior</key>
    <integer>-30</integer>
    <key>one.superior</key>
    <integer>-30</integer>
    <key>ordfeminine</key>
    <integer>-30</integer>
    <key>ordmasculine</key>
    <integer>-28</integer>
    <key>question</key>
    <integer>-14</integer>
    <key>registered</key>
    <integer>-28</integer>
    <key>seven.superior</key>
    <integer>-30</integer>
    <key>six.superior</key>
    <integer>-20</integer>
    <key>trademark</key>
    <integer>-40</integer>
    <key>zero.superior</key>
    <integer>-20</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-20</integer>
    <key>public.kern2.Colons_gr</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-10</integer>
    <key>public.kern2.S_gr</key>
    <integer>-10</integer>
    <key>public.kern2.W_gr</key>
    <integer>-30</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-38</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-30</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-34</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>Schwa</key>
    <integer>-10</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-20</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-40</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-30</integer>
  </dict>
  <key>Euro</key>
  <dict>
    <key>four</key>
    <integer>-10</integer>
    <key>six</key>
    <integer>-10</integer>
    <key>zero</key>
    <integer>-10</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>Schwa</key>
    <integer>-5</integer>
    <key>eight.inferior</key>
    <integer>-26</integer>
    <key>five.inferior</key>
    <integer>-20</integer>
    <key>four.inferior</key>
    <integer>-36</integer>
    <key>nine.inferior</key>
    <integer>-30</integer>
    <key>one.inferior</key>
    <integer>-10</integer>
    <key>six.inferior</key>
    <integer>-30</integer>
    <key>three.inferior</key>
    <integer>-10</integer>
    <key>two.inferior</key>
    <integer>-10</integer>
    <key>zero.inferior</key>
    <integer>-30</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-110</integer>
    <key>public.kern2.A_gr</key>
    <integer>-55</integer>
    <key>public.kern2.Colons_gr</key>
    <integer>-20</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-120</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-10</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-16</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-18</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-25</integer>
  </dict>
  <key>Germandbls</key>
  <dict>
    <key>question</key>
    <integer>-28</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-40</integer>
    <key>public.kern2.W_gr</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-10</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-40</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-50</integer>
  </dict>
  <key>Lcaron</key>
  <dict>
    <key>V</key>
    <integer>-0</integer>
    <key>public.kern2.T_gr</key>
    <integer>-35</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>eight.inferior</key>
    <integer>-42</integer>
    <key>five.inferior</key>
    <integer>-15</integer>
    <key>four.inferior</key>
    <integer>-60</integer>
    <key>nine.inferior</key>
    <integer>-34</integer>
    <key>one.inferior</key>
    <integer>-10</integer>
    <key>seven.inferior</key>
    <integer>-10</integer>
    <key>six.inferior</key>
    <integer>-46</integer>
    <key>slash</key>
    <integer>-32</integer>
    <key>three.inferior</key>
    <integer>-20</integer>
    <key>two.inferior</key>
    <integer>-20</integer>
    <key>zero.inferior</key>
    <integer>-46</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-116</integer>
    <key>public.kern2.A_gr</key>
    <integer>-48</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-100</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>10</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>public.kern2.hyphen_gr</key>
    <integer>-80</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>parenright</key>
    <integer>-20</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-40</integer>
    <key>public.kern2.A_gr</key>
    <integer>-20</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-78</integer>
    <key>public.kern2.T_gr</key>
    <integer>-50</integer>
    <key>public.kern2.W_gr</key>
    <integer>-28</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>20</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-10</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-20</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A</key>
    <integer>-35</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-25</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-40</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-44</integer>
  </dict>
  <key>asterisk</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-100</integer>
  </dict>
  <key>at</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-10</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>nine</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-10</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>nine</key>
    <integer>-28</integer>
    <key>one</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-12</integer>
  </dict>
  <key>eight.dnom</key>
  <dict>
    <key>nine.dnom</key>
    <integer>-14</integer>
  </dict>
  <key>eight.inferior</key>
  <dict>
    <key>nine.inferior</key>
    <integer>-14</integer>
    <key>public.kern2.T_gr</key>
    <integer>-90</integer>
    <key>public.kern2.W_gr</key>
    <integer>-66</integer>
  </dict>
  <key>eight.numr</key>
  <dict>
    <key>nine.numr</key>
    <integer>-14</integer>
  </dict>
  <key>eight.superior</key>
  <dict>
    <key>nine.superior</key>
    <integer>-14</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>emdash</key>
  <dict>
    <key>emdash</key>
    <integer>-62</integer>
    <key>endash</key>
    <integer>-62</integer>
  </dict>
  <key>endash</key>
  <dict>
    <key>emdash</key>
    <integer>-62</integer>
    <key>endash</key>
    <integer>-62</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>nine</key>
    <integer>-24</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-20</integer>
  </dict>
  <key>five.inferior</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-90</integer>
    <key>public.kern2.W_gr</key>
    <integer>-50</integer>
  </dict>
  <key>five.superior</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>five</key>
    <integer>-25</integer>
    <key>nine</key>
    <integer>-34</integer>
    <key>one</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-40</integer>
    <key>three</key>
    <integer>-22</integer>
    <key>two</key>
    <integer>-28</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-40</integer>
    <key>public.kern2.T_gr</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-20</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-20</integer>
  </dict>
  <key>four.dnom</key>
  <dict>
    <key>nine.dnom</key>
    <integer>-20</integer>
    <key>seven.dnom</key>
    <integer>-24</integer>
    <key>three.dnom</key>
    <integer>-20</integer>
    <key>two.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>four.inferior</key>
  <dict>
    <key>nine.inferior</key>
    <integer>-20</integer>
    <key>seven.inferior</key>
    <integer>-24</integer>
    <key>three.inferior</key>
    <integer>-20</integer>
    <key>two.inferior</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-130</integer>
    <key>public.kern2.W_gr</key>
    <integer>-80</integer>
  </dict>
  <key>four.numr</key>
  <dict>
    <key>nine.numr</key>
    <integer>-20</integer>
    <key>seven.numr</key>
    <integer>-24</integer>
    <key>three.numr</key>
    <integer>-20</integer>
    <key>two.numr</key>
    <integer>-10</integer>
  </dict>
  <key>four.superior</key>
  <dict>
    <key>nine.superior</key>
    <integer>-20</integer>
    <key>seven.superior</key>
    <integer>-24</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>fraction</key>
  <dict>
    <key>four.dnom</key>
    <integer>-20</integer>
    <key>seven.dnom</key>
    <integer>30</integer>
    <key>six.dnom</key>
    <integer>-10</integer>
    <key>three.dnom</key>
    <integer>12</integer>
    <key>two.dnom</key>
    <integer>10</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>seven</key>
    <integer>-24</integer>
    <key>two</key>
    <integer>-20</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>nine.dnom</key>
  <dict>
    <key>two.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>nine.inferior</key>
  <dict>
    <key>two.inferior</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-94</integer>
    <key>public.kern2.W_gr</key>
    <integer>-70</integer>
  </dict>
  <key>nine.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-18</integer>
    <key>two.numr</key>
    <integer>-10</integer>
  </dict>
  <key>nine.superior</key>
  <dict>
    <key>two.superior</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>one.inferior</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-100</integer>
    <key>public.kern2.W_gr</key>
    <integer>-40</integer>
  </dict>
  <key>one.superior</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-40</integer>
    <key>public.kern2.W_gr</key>
    <integer>-25</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-32</integer>
  </dict>
  <key>registered</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-100</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>cent</key>
    <integer>-60</integer>
    <key>eight</key>
    <integer>-20</integer>
    <key>five</key>
    <integer>-20</integer>
    <key>four</key>
    <integer>-46</integer>
    <key>nine</key>
    <integer>-15</integer>
    <key>six</key>
    <integer>-35</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-10</integer>
    <key>zero</key>
    <integer>-20</integer>
    <key>public.kern2.A_gr</key>
    <integer>-56</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-100</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-40</integer>
  </dict>
  <key>seven.dnom</key>
  <dict>
    <key>eight.dnom</key>
    <integer>-10</integer>
    <key>five.dnom</key>
    <integer>-10</integer>
    <key>four.dnom</key>
    <integer>-30</integer>
    <key>nine.dnom</key>
    <integer>-10</integer>
    <key>zero.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>seven.inferior</key>
  <dict>
    <key>eight.inferior</key>
    <integer>-10</integer>
    <key>five.inferior</key>
    <integer>-10</integer>
    <key>four.inferior</key>
    <integer>-30</integer>
    <key>nine.inferior</key>
    <integer>-10</integer>
    <key>zero.inferior</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-90</integer>
    <key>public.kern2.W_gr</key>
    <integer>-30</integer>
  </dict>
  <key>seven.numr</key>
  <dict>
    <key>eight.numr</key>
    <integer>-10</integer>
    <key>five.numr</key>
    <integer>-10</integer>
    <key>four.numr</key>
    <integer>-30</integer>
    <key>fraction</key>
    <integer>-26</integer>
    <key>nine.numr</key>
    <integer>-10</integer>
    <key>zero.numr</key>
    <integer>-10</integer>
  </dict>
  <key>seven.superior</key>
  <dict>
    <key>eight.superior</key>
    <integer>-10</integer>
    <key>five.superior</key>
    <integer>-10</integer>
    <key>four.superior</key>
    <integer>-30</integer>
    <key>nine.superior</key>
    <integer>-10</integer>
    <key>zero.superior</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-70</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-48</integer>
    <key>one</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-40</integer>
    <key>two</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-20</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-40</integer>
  </dict>
  <key>six.dnom</key>
  <dict>
    <key>nine.dnom</key>
    <integer>-36</integer>
    <key>one.dnom</key>
    <integer>-30</integer>
    <key>seven.dnom</key>
    <integer>-30</integer>
  </dict>
  <key>six.inferior</key>
  <dict>
    <key>nine.inferior</key>
    <integer>-36</integer>
    <key>one.inferior</key>
    <integer>-30</integer>
    <key>seven.inferior</key>
    <integer>-30</integer>
    <key>public.kern2.T_gr</key>
    <integer>-114</integer>
    <key>public.kern2.W_gr</key>
    <integer>-74</integer>
  </dict>
  <key>six.numr</key>
  <dict>
    <key>nine.numr</key>
    <integer>-36</integer>
    <key>seven.numr</key>
    <integer>-30</integer>
  </dict>
  <key>six.superior</key>
  <dict>
    <key>nine.superior</key>
    <integer>-36</integer>
    <key>one.superior</key>
    <integer>-30</integer>
    <key>seven.superior</key>
    <integer>-30</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>public.kern2.A_gr</key>
    <integer>-50</integer>
  </dict>
  <key>sterling</key>
  <dict>
    <key>four</key>
    <integer>-40</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>nine</key>
    <integer>-20</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-20</integer>
  </dict>
  <key>three.dnom</key>
  <dict>
    <key>nine.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>three.inferior</key>
  <dict>
    <key>nine.inferior</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-90</integer>
    <key>public.kern2.W_gr</key>
    <integer>-50</integer>
  </dict>
  <key>three.numr</key>
  <dict>
    <key>nine.numr</key>
    <integer>-10</integer>
  </dict>
  <key>trademark</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-70</integer>
  </dict>
  <key>turkishlira</key>
  <dict>
    <key>five</key>
    <integer>-10</integer>
    <key>nine</key>
    <integer>-30</integer>
    <key>one</key>
    <integer>-50</integer>
    <key>seven</key>
    <integer>-50</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-20</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>four</key>
    <integer>-30</integer>
    <key>one</key>
    <integer>10</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-30</integer>
  </dict>
  <key>two.dnom</key>
  <dict>
    <key>four.dnom</key>
    <integer>-16</integer>
  </dict>
  <key>two.inferior</key>
  <dict>
    <key>four.inferior</key>
    <integer>-16</integer>
    <key>public.kern2.T_gr</key>
    <integer>-90</integer>
    <key>public.kern2.W_gr</key>
    <integer>-46</integer>
  </dict>
  <key>two.numr</key>
  <dict>
    <key>four.numr</key>
    <integer>-16</integer>
    <key>fraction</key>
    <integer>20</integer>
  </dict>
  <key>yen</key>
  <dict>
    <key>six</key>
    <integer>-20</integer>
    <key>zero</key>
    <integer>-10</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>one</key>
    <integer>-15</integer>
    <key>seven</key>
    <integer>-30</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-25</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-20</integer>
  </dict>
  <key>zero.dnom</key>
  <dict>
    <key>seven.dnom</key>
    <integer>-10</integer>
    <key>two.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>zero.inferior</key>
  <dict>
    <key>seven.inferior</key>
    <integer>-10</integer>
    <key>two.inferior</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-94</integer>
    <key>public.kern2.W_gr</key>
    <integer>-70</integer>
  </dict>
  <key>zero.numr</key>
  <dict>
    <key>seven.numr</key>
    <integer>-10</integer>
    <key>two.numr</key>
    <integer>-10</integer>
  </dict>
  <key>zero.superior</key>
  <dict>
    <key>seven.superior</key>
    <integer>-10</integer>
    <key>two.superior</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.A_gr</key>
  <dict>
    <key>Schwa</key>
    <integer>-5</integer>
    <key>V</key>
    <integer>-55</integer>
    <key>asterisk</key>
    <integer>-40</integer>
    <key>eight.superior</key>
    <integer>-56</integer>
    <key>five.superior</key>
    <integer>-30</integer>
    <key>four.superior</key>
    <integer>-60</integer>
    <key>nine.superior</key>
    <integer>-70</integer>
    <key>one.superior</key>
    <integer>-70</integer>
    <key>ordfeminine</key>
    <integer>-20</integer>
    <key>ordmasculine</key>
    <integer>-50</integer>
    <key>question</key>
    <integer>-28</integer>
    <key>registered</key>
    <integer>-70</integer>
    <key>seven.superior</key>
    <integer>-76</integer>
    <key>six.superior</key>
    <integer>-60</integer>
    <key>trademark</key>
    <integer>-70</integer>
    <key>zero.superior</key>
    <integer>-70</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-60</integer>
    <key>public.kern2.U_gr</key>
    <integer>-20</integer>
    <key>public.kern2.W_gr</key>
    <integer>-35</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-60</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-18</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-30</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-60</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-70</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-57</integer>
  </dict>
  <key>public.kern1.Colons_gr</key>
  <dict>
    <key>public.kern2.T_gr</key>
    <integer>-20</integer>
    <key>public.kern2.W_gr</key>
    <integer>-25</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-33</integer>
  </dict>
  <key>public.kern1.D_O_Q</key>
  <dict>
    <key>X</key>
    <integer>-25</integer>
    <key>slash</key>
    <integer>-10</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-30</integer>
    <key>public.kern2.A_gr</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-40</integer>
    <key>public.kern2.T_gr</key>
    <integer>-30</integer>
    <key>public.kern2.W_gr</key>
    <integer>-10</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-34</integer>
    <key>public.kern2.Z_gr</key>
    <integer>-24</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-15</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-25</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.K_gr</key>
  <dict>
    <key>Schwa</key>
    <integer>-20</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-40</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-70</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-18</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-96</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.L_gr</key>
  <dict>
    <key>W</key>
    <integer>-0</integer>
    <key>asterisk</key>
    <integer>-70</integer>
    <key>eight.superior</key>
    <integer>-30</integer>
    <key>five.superior</key>
    <integer>-20</integer>
    <key>four.superior</key>
    <integer>-50</integer>
    <key>one.superior</key>
    <integer>-30</integer>
    <key>periodcentered</key>
    <integer>-100</integer>
    <key>registered</key>
    <integer>-60</integer>
    <key>seven.superior</key>
    <integer>-40</integer>
    <key>six.superior</key>
    <integer>-30</integer>
    <key>three.superior</key>
    <integer>-20</integer>
    <key>trademark</key>
    <integer>-60</integer>
    <key>two.superior</key>
    <integer>-20</integer>
    <key>public.kern2.A_gr</key>
    <integer>20</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-30</integer>
    <key>public.kern2.T_gr</key>
    <integer>-50</integer>
    <key>public.kern2.U_gr</key>
    <integer>-20</integer>
    <key>public.kern2.W_gr</key>
    <integer>-60</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-50</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-40</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-90</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-65</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-70</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.Periods_gr</key>
  <dict>
    <key>Schwa</key>
    <integer>-30</integer>
    <key>eight</key>
    <integer>-12</integer>
    <key>four</key>
    <integer>-50</integer>
    <key>nine</key>
    <integer>-70</integer>
    <key>one</key>
    <integer>-50</integer>
    <key>seven</key>
    <integer>-50</integer>
    <key>zero</key>
    <integer>-20</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-40</integer>
    <key>public.kern2.T_gr</key>
    <integer>-110</integer>
    <key>public.kern2.U_gr</key>
    <integer>-60</integer>
    <key>public.kern2.W_gr</key>
    <integer>-100</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-115</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-40</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-40</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-80</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-80</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1.R_gr</key>
  <dict>
    <key>Schwa</key>
    <integer>-8</integer>
    <key>X</key>
    <integer>30</integer>
    <key>asterisk</key>
    <integer>-40</integer>
    <key>eight.superior</key>
    <integer>-28</integer>
    <key>five.superior</key>
    <integer>-30</integer>
    <key>four.superior</key>
    <integer>-30</integer>
    <key>nine.superior</key>
    <integer>-40</integer>
    <key>one.superior</key>
    <integer>-40</integer>
    <key>ordfeminine</key>
    <integer>-60</integer>
    <key>ordmasculine</key>
    <integer>-60</integer>
    <key>registered</key>
    <integer>-40</integer>
    <key>seven.superior</key>
    <integer>-70</integer>
    <key>six.superior</key>
    <integer>-40</integer>
    <key>trademark</key>
    <integer>-60</integer>
    <key>zero.superior</key>
    <integer>-40</integer>
    <key>public.kern2.A_gr</key>
    <integer>30</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-20</integer>
    <key>public.kern2.T_gr</key>
    <integer>-45</integer>
    <key>public.kern2.W_gr</key>
    <integer>-28</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-40</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-30</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-20</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-38</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-48</integer>
    <key>public.kern2.quote_straight_gr</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.S_gr</key>
  <dict>
    <key>public.kern2.Periods_gr</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-10</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>-10</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>-6</integer>
  </dict>
  <key>public.kern1.T_gr</key>
  <dict>
    <key>Germandbls</key>
    <integer>-20</integer>
    <key>Schwa</key>
    <integer>-20</integer>
    <key>at</key>
    <integer>-50</integer>
    <key>eight.inferior</key>
    <integer>-90</integer>
    <key>five.inferior</key>
    <integer>-96</integer>
    <key>four.inferior</key>
    <integer>-100</integer>
    <key>nine.inferior</key>
    <integer>-104</integer>
    <key>one.inferior</key>
    <integer>-100</integer>
    <key>question</key>
    <integer>8</integer>
    <key>seven.inferior</key>
    <integer>-90</integer>
    <key>six.inferior</key>
    <integer>-94</integer>
    <key>slash</key>
    <integer>-84</integer>
    <key>three.inferior</key>
    <integer>-98</integer>
    <key>two.inferior</key>
    <integer>-90</integer>
    <key>zero.inferior</key>
    <integer>-94</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-130</integer>
    <key>public.kern2.A_gr</key>
    <integer>-60</integer>
    <key>public.kern2.Colons_gr</key>
    <integer>-20</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-30</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-110</integer>
    <key>public.kern2.S_gr</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>10</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-100</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-55</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-120</integer>
    <key>public.kern2.quoteLEFT_up</key>
    <integer>18</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1.U_gr</key>
  <dict>
    <key>public.kern2.AE_gr</key>
    <integer>-45</integer>
    <key>public.kern2.A_gr</key>
    <integer>-20</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.W_gr</key>
  <dict>
    <key>A</key>
    <integer>-55</integer>
    <key>Germandbls</key>
    <integer>-20</integer>
    <key>Schwa</key>
    <integer>-24</integer>
    <key>eight.inferior</key>
    <integer>-70</integer>
    <key>five.inferior</key>
    <integer>-50</integer>
    <key>four.inferior</key>
    <integer>-70</integer>
    <key>nine.inferior</key>
    <integer>-74</integer>
    <key>one.inferior</key>
    <integer>-40</integer>
    <key>question</key>
    <integer>20</integer>
    <key>seven.inferior</key>
    <integer>-34</integer>
    <key>six.inferior</key>
    <integer>-74</integer>
    <key>slash</key>
    <integer>-50</integer>
    <key>three.inferior</key>
    <integer>-45</integer>
    <key>two.inferior</key>
    <integer>-50</integer>
    <key>zero.inferior</key>
    <integer>-74</integer>
    <key>public.kern2.A_gr</key>
    <integer>-35</integer>
    <key>public.kern2.Colons_gr</key>
    <integer>-25</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-10</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-100</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.Y_gr</key>
  <dict>
    <key>Schwa</key>
    <integer>-10</integer>
    <key>question</key>
    <integer>10</integer>
    <key>slash</key>
    <integer>-70</integer>
    <key>public.kern2.A_gr</key>
    <integer>-60</integer>
    <key>public.kern2.Colons_gr</key>
    <integer>-38</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-34</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-115</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-60</integer>
    <key>public.kern2.guilRIGHT_gr</key>
    <integer>-15</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.Z_gr</key>
  <dict>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-24</integer>
    <key>public.kern2.guilLEFT_gr</key>
    <integer>-60</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-82</integer>
    <key>public.kern2.quoteRIGHT_up</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.guilLEFT_gr</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>public.kern2.T_gr</key>
    <integer>-55</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.guilRIGHT_gr</key>
  <dict>
    <key>X</key>
    <integer>-45</integer>
    <key>public.kern2.A_gr</key>
    <integer>-23</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-40</integer>
    <key>public.kern2.S_gr</key>
    <integer>-15</integer>
    <key>public.kern2.T_gr</key>
    <integer>-100</integer>
    <key>public.kern2.W_gr</key>
    <integer>-20</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-55</integer>
    <key>public.kern2.Z_gr</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.hyphen_gr</key>
  <dict>
    <key>Tbar</key>
    <integer>-80</integer>
    <key>X</key>
    <integer>-44</integer>
    <key>nine</key>
    <integer>-20</integer>
    <key>one</key>
    <integer>-40</integer>
    <key>seven</key>
    <integer>-80</integer>
    <key>three</key>
    <integer>-50</integer>
    <key>two</key>
    <integer>-75</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-70</integer>
    <key>public.kern2.A_gr</key>
    <integer>-30</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-40</integer>
    <key>public.kern2.S_gr</key>
    <integer>-20</integer>
    <key>public.kern2.T_gr</key>
    <integer>-120</integer>
    <key>public.kern2.W_gr</key>
    <integer>-30</integer>
    <key>public.kern2.Y_gr</key>
    <integer>-46</integer>
    <key>public.kern2.Z_gr</key>
    <integer>-60</integer>
    <key>public.kern2.hyphen_gr</key>
    <integer>-0</integer>
  </dict>
  <key>public.kern1.quoteLEFT_up</key>
  <dict>
    <key>Germandbls</key>
    <integer>-20</integer>
    <key>Schwa</key>
    <integer>-18</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-128</integer>
    <key>public.kern2.A_gr</key>
    <integer>-75</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-18</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-80</integer>
    <key>public.kern2.T_gr</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.quoteRIGHT_up</key>
  <dict>
    <key>Germandbls</key>
    <integer>-42</integer>
    <key>Schwa</key>
    <integer>-30</integer>
    <key>public.kern2.AE_gr</key>
    <integer>-148</integer>
    <key>public.kern2.A_gr</key>
    <integer>-90</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-40</integer>
    <key>public.kern2.Periods_gr</key>
    <integer>-80</integer>
    <key>public.kern2.T_gr</key>
    <integer>22</integer>
  </dict>
  <key>public.kern1.quote_straight_gr</key>
  <dict>
    <key>four</key>
    <integer>-20</integer>
    <key>public.kern2.A_gr</key>
    <integer>-62</integer>
    <key>public.kern2.O_C_G_Q</key>
    <integer>-10</integer>
  </dict>
</dict>
</plist>
